.container {
    width: 100%;
}

.picker-box {
    padding: 30px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    padding-right: 30px; 
}

.next-button {
    --slds-c-button-brand-color-background: black;   
    --slds-c-button-brand-color-border: black;
    --slds-c-button-text-color: white;             
    --slds-c-button-brand-color-background-hover:  #666;
}

.selected-row {
    background-color: #000000 !important;
    color: #ffffff !important;
}

.selected-intake-box {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #f0f8ff;
    border-radius: 6px;
}